h1{
    color: goldenrod;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.png");
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: aliceblue;
    font-weight: bold;

} 

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    background-color: goldenrod;
    width: 150px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 15px;
}
